spring:
  application:
    name: bunmo
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  port: 18080

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui
    display-request-duration: true
    operations-sorter: method
    tags-sorter: alpha
    doc-expansion: none
