spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        format_sql: false
        show_sql: false
    hibernate:
      ddl-auto: validate

jwt:
  secret: ${JWT_SECRET}
  access-token:
    expire-time: ${JWT_ACCESS_TOKEN_EXPIRE_TIME:86400000}
  refresh-token:
    expire-time: ${JWT_REFRESH_TOKEN_EXPIRE_TIME:259200000}

oauth2:
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    redirect-uri: ${KAKAO_REDIRECT_URI}
    token-uri: https://kauth.kakao.com
    token-path: /oauth/token
    user-info-uri: https://kapi.kakao.com
    user-info-path: /v2/user/me
